<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="StyleSheet.css">
        <title>Software Engineering - Wesley Tan</title>
    </head>
    <body>
        <header>Software Engineering - Wesley Tan</header>

        <h1><a href="https://course-syllabus-wt.azurewebsites.net/"target="_blank">Syllabus</a></h1>
        
        <h1>Assignments:</h1>
        <ul>
            <li><a href="https://www.lewis.education/?cpsc=44000-fall-2020-001&hide-nav=y#/sprint-2"target="_blank">Sprint 2</a>
            <ul>
                <li><a href="https://lewisuniversity.blackboard.com/ultra/courses/_180085_1/outline/discussion/_4079206_1?courseId=_180085_1"target="_blank">Discussion Board 2</a></li>
                <li><a href="https://dice-roll-wt.azurewebsites.net/"target="_blank">Dice Roll App</a></li>
            </ul>
        </li>
            <li>Sprint 3</li>
            <li>Sprint 4</li>
            <li>Sprint 5</li>
            <li>Sprint 6</li>
            <li>Sprint 7</li>
            <li>Sprint 8</li>
          </ul>
    </body>

</html>